:root{
    --color-primary: #f9fAf8;
    --color-secondary: #e5e7eb;
}

*, *::after, *::before{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

::selection{
    color: white;
    background: tomato;
}

/* TYPOGRAPHY */

body{
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1, h2, h3{
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 3.6rem;
}

p{
    margin-top: 0;
}

/* Laptop and Desktop */
@media screen and (min-width: 1024px) {
   body{
       font-size: 2rem;
   }
   
   h1{
       font-size: 6rem;
   }
   
   h2{
       font-size: 4rem;
   }
   
}


/* CONTAINER */

.container{
    padding: 0 2rem;
    max-width: 1140px;
    margin: 0 auto;
}

/* NAV */
 .nav{
    background: #1f2937;
    color: var(--color-primary);
 }

 .nav>.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .nav .link{
    display: flex;
    gap: 20px;
    list-style: none;
 }

 .link__item a{
    color: var(--color-secondary);
    text-decoration: none;
 }

 
 .link__item a:visited{
    color: var(--color-secondary);
 }

 .link__item a:hover{
   color: var(--color-primary);
}

 /* HEADER */

 .header{
    background: #1f2937;
    color: var(--color-primary);
    padding: 10rem 0;
 }

 .header>.container{
    display: flex;
    justify-content: space-between;
 }

 .header__text{
    margin-right: 2rem;
 }

 .header__text p{
    color: var(--color-secondary);
 }

 /* BUTTON */

 .btn {
    border-radius: 12px;
    border: 0;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: auto 0;
    outline: 0;
    padding: 1rem 2.5rem;
    text-transform: uppercase;
    white-space: nowrap;
    transition: all 0.3s;
 }

 .btn--primary{
    background: #3882f6;
    color: var(--color-primary);
 }

 .btn--primary:hover{
   background: var(--color-primary);
   color: #3882f6;
 }

 .btn--outline{
   border: 2px solid var(--color-primary);
 }

 .btn--outline:hover{
   background: var(--color-primary);
   color: #3882f6;
 }

 /* CARD */

 .card{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 12px;
    overflow: hidden;
    flex: 1;
 }

 .card__header{
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 2.5rem;
 }

 .card__body{
    padding: 1rem 2.5rem;
 }

 .card--primary .card__header{
    background: #3882f6;
    color: var(--color-primary);
 }

 /* CARD BLOCK */

 .card-block{
    padding: 5rem 2rem;
    margin-bottom: 10rem;

 }

 .card-block>.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
 }

 .cards{
    display: flex;
    flex-direction: column;
    
    gap: 2rem;
 }

 @media screen and (min-width: 768px) {
   .cards{
      flex-direction: row;
   }
   
 }

 /* TESTIMONIAL */

 .testimonial{
   padding: 10rem 0;
   background: var(--color-secondary);
 }

 .testimonial__text{
   font-size: 2.5rem;
   font-weight: 200;
   font-style: italic;
   color: #1f2937;
 }

 .testimonial__author{
   font-weight: 700;
   text-align: end;
 }

 @media screen and (min-width: 768px) {
   .testimonial__text{
      font-size: 3.6rem;
   }

}

/* CALL OUT */

.callout-block{
   padding: 10rem 2rem;
}

.callout{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   gap: 20px;
   background: #3882f6;
   border-radius: 12px;
   color: var(--color-primary);
   padding: 2.5rem 5rem;
}

.callout__text p{
   color: var(--color-secondary);
}

@media screen and (min-width: 768px){

   .callout{
      flex-direction: row;
   }
   
}

/* FOOTER */

footer{
   background: #1f2937;
   text-align: center;
   color: var(--color-secondary);
   padding: 4rem 2rem;
}


